{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('password') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="password0" placeholder="Current password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password1" placeholder="New password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password2" placeholder="New password again" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change</button>
            </div>
        </fieldset>
    </form>
{% endblock %}